#
# Ref. https://www.cockroachlabs.com/docs/v23.2/cockroach-start
#
[Unit]
Description=Cockroach Database cluster node
Requires=network.target

[Service]
Type=notify
WorkingDirectory=/var/lib/cockroach
ExecStart=/usr/local/bin/cockroach start {% if (crdb_ptp | bool) %}--clock-device={{ crdb_ptp_dev }}{% endif %} \
                                         --certs-dir=certs \
                                         --advertise-addr={{ inventory_hostname }} \
                                         --join={{ bootstrap | join(',') }} \
                                         {% for item in crdb_data_disks %}--store={{ item }} {% endfor %} \
                                         --cache=.25 \
                                         --max-sql-memory=.25
TimeoutStopSec=300
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cockroach
User=cockroach

[Install]
WantedBy=default.target