#
# Ref. https://www.cockroachlabs.com/docs/v23.2/cockroach-start
#      https://github.com/cockroachdb/docs/blob/main/src/current/_includes/v24.1/prod-deployment/securecockroachdb.service
#      https://www.cockroachlabs.com/docs/releases/v22.2
#
[Unit]
Description=Cockroach Database cluster node
Requires=network.target

[Service]
Type=notify
WorkingDirectory=/var/lib/cockroach
ExecStart=/usr/local/bin/cockroach start {% if (crdb_ptp | bool) %}--clock-device={{ crdb_ptp_dev }}{% endif %} \
                                         --certs-dir=certs \
                                         --advertise-addr=:{{ crdb_rpc_port }} \
                                         --listen-addr=:{{ crdb_rpc_port }} \
                                         --sql-addr=:{{ crdb_sql_port }} \
                                         {% for join in bootstrap %}
                                         --join={{ hostvars[item]['ansible_facts'].hostname }}:{{ crdb_rpc_port }} \
                                         {% endfor %}
                                         {% for item in crdb_data_disks %}--store={{ item }} {% endfor %} \
                                         --cache=.25 \
                                         --max-sql-memory=.25
TimeoutStopSec=300
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cockroach
User=cockroach

[Install]
WantedBy=default.target

